h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_3768d7aa a { text-decoration: none; }
#menu_3768d7aa_pane { background-color: #0080FF; border: 1px solid #0080FF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_3768d7aa_hr { background-color: #0080FF; height: 1px; border: none; }
#menu_3768d7aa_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_3768d7aa_entry:hover { background-color: #323232; color: #000000 !important; }
#menu_3768d7aa_entry:hover span { color:#000000 !important; }
		.menu_3768d7aa_mainMenuEntry { text-align: center; }
		.menu_3768d7aa_mainMenuEntry:hover {	background-color:#C7E3FF; }
		.menu_3768d7aa_mainMenuEntry:hover span {	color:#000000 !important; }
		#menu_3768d7aa .mobileEntry { display: none; } 
		#menu_3768d7aa .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_3768d7aa .mobileEntry { display: block; } 
			#menu_3768d7aa .normalEntry { display: none; } 
		}
body { background-color:#C7E3FF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_519bdd43 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:85px; background-color:#0080FF; background: linear-gradient(to bottom, #004A94, #0080FF);  }
#container_519bdd43_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:36pt; font-family:Verdana, Geneva, sans-serif; color:#FFFFFF; font-weight:bold;  }
#menu_3768d7aa { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#60B0FF; background: linear-gradient(to bottom, #0080FF, #60B0FF);  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:37px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.style3 { position:absolute; width:62px; height:38px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.style5 { position:absolute; width:98px; height:38px; left:72px;  }
.style6 { position:absolute; width:82px; height:38px; left:170px;  }
.style7 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.style8 { position:absolute; width:119px; height:38px; left:252px;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle7 { text-align:left; }
#container_45091031 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_45091031_padding { margin: 10px; display: block;  }
#container_64f50e9e { vertical-align: top; position:relative; display: inline-block; width:10%; min-height:150px; background:none;  }
#container_64f50e9e_padding { margin: 10px; display: block;  }
#container_38187a03 { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:150px; background-color:#89C4FF;  }
#container_38187a03_padding { margin: 10px; display: block;  }
#heading_29b270f6 { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; font-size:28pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000; text-align:center; font-weight:bold;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_a5619fa { vertical-align: top; position:relative; display: inline-block; width:10%; min-height:150px; background:none;  }
#container_a5619fa_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 600px)
{
		#container_64f50e9e { width:100%;  }
		#container_38187a03 { width:100%;  }
		#container_a5619fa { width:100%;  }
}
