h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#0044FF; } 
a:visited { color:#0044FF; } 
a:active { color:#5C615E; } 
a:hover { color:#FFFFFF; } 
#menu_7dd98ee0 a { text-decoration: none; }
#menu_7dd98ee0_pane { background-color: #0080FF; border: 1px solid #0080FF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_7dd98ee0_hr { background-color: #0080FF; height: 1px; border: none; }
#menu_7dd98ee0_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_7dd98ee0_entry:hover { background-color: #323232; color: #000000 !important; }
#menu_7dd98ee0_entry:hover span { color:#000000 !important; }
		.menu_7dd98ee0_mainMenuEntry { text-align: center; }
		.menu_7dd98ee0_mainMenuEntry:hover {	background-color:#C7E3FF; }
		.menu_7dd98ee0_mainMenuEntry:hover span {	color:#000000 !important; }
		#menu_7dd98ee0 .mobileEntry { display: none; } 
		#menu_7dd98ee0 .normalEntry { display: block; } 
		@media only screen and (max-width:550px) { 
			#menu_7dd98ee0 .mobileEntry { display: block; } 
			#menu_7dd98ee0 .normalEntry { display: none; } 
		}
body { background-color:#C7E3FF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_16657750 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:85px; background-color:#0080FF; background: linear-gradient(to bottom, #004A94, #0080FF);  }
#container_16657750_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:36pt; font-family:Verdana, Geneva, sans-serif; color:#FFFFFF; font-weight:bold;  }
#menu_7dd98ee0 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:38px; text-align:left; background-color:#60B0FF; background: linear-gradient(to bottom, #0080FF, #60B0FF);  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.style1 { position:absolute; width:37px; height:38px; left:10px;  }
.style2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:33px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.style3 { position:absolute; width:65px; height:38px; left:10px;  }
.style4 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.style5 { position:absolute; width:98px; height:38px; left:75px;  }
.style6 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:18px;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
.style7 { position:absolute; width:77px; height:38px; left:173px;  }
.style8 { position:absolute; width:119px; height:38px; left:250px;  }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.textstyle7 { text-align:left; }
#container_792a43c9 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_792a43c9_padding { margin: 10px; display: block;  }
#container_12b10353 { vertical-align: top; position:relative; display: inline-block; width:10%; min-height:150px; background:none;  }
#container_12b10353_padding { margin: 10px; display: block;  }
#container_6dc1697b { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:150px; background-color:#89C4FF;  }
#container_6dc1697b_padding { margin: 10px; display: block;  }
#heading_4f37411b { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; font-size:28pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000; text-align:center; font-weight:bold;  }
#heading_40ebd3c1 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:14pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000; text-align:left;  }
.textstyle8 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_4d9a2ef0 { vertical-align: top; position:relative; display: inline-block; width:15%; min-height:58px; background:none;  }
#container_4d9a2ef0_padding { margin: 10px; display: block;  }
#button_204a982e { box-sizing: border-box; vertical-align: top; position:relative; display: inline-block; width:160px; height:40px; background-color:#1A3562; background: linear-gradient(to bottom, #3062B4, #1A3562); border: 2px solid #091222;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_62dbe108 { vertical-align: top; position:relative; display: inline-block; width:10%; min-height:150px; background:none;  }
#container_62dbe108_padding { margin: 10px; display: block;  }
@media only screen and (max-width: 600px)
{
		#container_12b10353 { width:100%;  }
		#container_6dc1697b { width:100%;  }
		#container_62dbe108 { width:100%;  }
}
