a { color:#AB8928; } 
a:visited { color:#AB8928; } 
a:active { color:#261F09; } 
a:hover { color:#342A0C; } 
html, body { min-height: 100% } 
#menu_426fe36 a { text-decoration: none; }
#menu_426fe36_pane { background-color: #0080FF; border: 1px solid #000000; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_426fe36_hr { background-color: #000000; height: 1px; border: none; }
#menu_426fe36_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_426fe36_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_426fe36_entry:hover span { color:#FFFFFF !important; }
		.menu_426fe36_mainMenuEntry { text-align: center; }
		.menu_426fe36_mainMenuEntry:hover {	background-color:#0000FF; }
		.menu_426fe36_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_426fe36 .mobileEntry { display: none; } 
		#menu_426fe36 .normalEntry { display: block; } 
		@media only screen and (max-width:370px) { 
			#menu_426fe36 .mobileEntry { display: block; } 
			#menu_426fe36 .normalEntry { display: none; } 
		}
body { background-color:#8F8F8F; background: linear-gradient(to bottom, #F8F8F8, #8F8F8F); background-repeat: no-repeat; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_77910cbb { vertical-align: top; position:relative; display: inline-block; width:80%; min-height:466px; max-width:1200px; background-color:#FFFFFF;  }
#container_77910cbb_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_7cabf6e6 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:38px; background-color:#FFFFFF;  }
#container_7cabf6e6_padding { margin: 10px; display: block;  }
#img_76dfdc81 { vertical-align: bottom; position:relative; display: inline-block; margin:0px 10px 0px 0px;width:50px; background:none; height:auto;  }
.textstyle3 { font-size:28pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#0080FF; font-weight:bold; text-shadow: 4px 4px 4px #A1A1A1;  }
#menu_426fe36 { vertical-align: bottom; position:relative; display: inline-block; width:100%; height:55px; text-align:left; background-color:#0080FF;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:85px; height:55px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:19px;  }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle5 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menustyle2 { position:absolute; width:102px; height:55px; left:95px;  }
.menustyle3 { position:absolute; width:149px; height:55px; left:197px;  }
.textstyle6 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FF0000; font-weight:bold;  white-space: nowrap; }
.menustyle4 { position:absolute; width:85px; height:55px; left:346px;  }
.textstyle7 { font-size:14pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
#container_450824da { vertical-align: top; position:relative; display: inline-block; margin:0px 5px 0px 0px;width:98%; min-height:391px; background-color:#FFFFFF;  }
#container_450824da_padding { margin: 20px 10px 10px 10px;display: block;  }
.textstyle8 { font-size:28pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle9 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000;  }
#html_60dba8b2 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:640px; height:480px; background-color:#E5E5E5; border: 1px solid #A0A0A0;  }
.ulstyle1 { margin:0; font-size: 12pt; color:#000000; list-style-position: inside;  }
.textstyle10 { font-size:12pt; font-family:'Trebuchet MS', Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle11 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 800px)
{
		#img_76dfdc81 { width:6%;  }
}
@media only screen and (max-width: 700px)
{
		#img_76dfdc81 { width:7%;  }
}
@media only screen and (max-width: 640px)
{
		#container_77910cbb { width:100%;  }
		#container_7cabf6e6 * span { font-size:24pt;  }
}
@media only screen and (max-width: 550px)
{
		#img_76dfdc81 { width:8%;  }
}
@media only screen and (max-width: 450px)
{
		#container_450824da { width:99%;  }
}
@media only screen and (max-width: 435px)
{
		#container_7cabf6e6 * span { font-size:19pt;  }
}
@media only screen and (max-width: 370px)
{
		#container_7cabf6e6 * span { font-size:12pt;  }
}
